/* Custom color theme */
:root .dark{
    --f7-grid-gap: 3px;
    --f7-theme-color: #d97700;
    --f7-theme-color-rgb: 217, 119, 0;
    --f7-theme-color-shade: #b06100;
    --f7-theme-color-tint: #ff8d03;
    --f7-card-header-text-color: #d97700;
}

html {
    margin: 0;
    padding: 0;
    font-family: "fuzzyBubbles";
    color: var(--f7-theme-color);
    background-color: #ffffff;
}



@font-face {
    font-family: fuzzyBubbles;
    src: url(https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles");
}

